<%- include('../includes/Head.ejs') %>
</head>

<%- include('../includes/Navigation.ejs') %>

<main>

    <% if (Products.length > 0 ) { %>
    <ul>

        <%  Products.forEach( product  =>{ %>

        <li>
            <p><%=product.productData.Title %> (<%= product.qty %>)</p>
            <form action="/cart-delete-item" method="POST">
                <input type="hidden" value="<%= product.productData.ID %>" name="productId">
                <button class="btn" type="submit">Delete</button>
            </form>
        </li>

        <% })  %>
    </ul>




    <% } else { %>

    <h1>No Products in Cart!</h1>

    <% } %>


</main>

<body>
    <%- include('../includes/End.ejs') %>